Flask==2.3.3
numpy==1.26.4
torch==2.3.0
torchvision==0.18.0
librosa==0.10.1
transformers==4.41.2
Pillow==10.3.0
opencv-python==4.9.0.80
moviepy==1.0.3
tqdm==4.66.4
scikit-learn==1.5.0
seaborn==0.13.2  # Latest compatible version as of April 2025
joblib==1.3.2
werkzeug==3.0.3